/* David Silva Vega */

/* Estilo que tendrán todos los elementos de la tabla (bordes, alineación, padding, y color de fondo) */
table, th, tr, td{ 
    border-collapse: collapse;
    border: solid;
    text-align: center;
    padding: 10px;
    background-color: beige;
}

/* Estilo genérico para body (fuente, estilo de fuente y color de fondo) */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    background-color: lightcoral;
}

/* Estilo concreto de la cabecera de la tabla */
th{
    font-size: large;
}

/* Estilo concreto del elemento tabla */
table{
    margin: auto;
    height: 100px;
    margin-top: 200px;
}